# .dockerignore
**/__pycache__
**/*.py[cod]
**/.env
**/.git
**/.github
**/.gitignore
**/.vscode
**/Thumbs.db
**/tests.py
**/temp
**/venv
**/.DS_Store
**/local
**/logs
**/build/static/css/*.map
**/build/static/js/*.map
**/build/static/js/*.LICENSE.txt
**/profile*.jpg
**/structure.txt
**/vercel.json
**/fvn
**/asset-manifest.json
**/unavailable.png
**/ape.jpg
**/image.png
**/home.html
**/tests/
**/base.py
**/convert.py

# Keep these (whitelist)
!models/acne_model/
!models/skin_model/
!models/skin_tone/skin_tone_dataset.csv
!models/skin_tone/skin_*.py
!models/recommender/*.csv
!models/recommender/rec.py
!requirements.txt
!app.py